// No margins
h1,
h2,
h3,
p,
img,
button,
input,
label {
    margin: 0;
}

//Box sizing
*::before *::after {
    box-sizing: border-box;
}

@mixin Flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin Grid() {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
}


.illustration {
    width: 100%;
    height: 100%;

}

body {
    @include Grid();
    font-family: 'Libre Franklin', sans-serif;
    min-height: 100vh;

}

.wrapper {
    max-width: 20rem;
}

.top-content {
    @include Flex(column);
    margin: 0;


    .logo {
        padding: 4rem;
        margin-top: 10px;
        text-align: center;
    }

    h1 {
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        color: rgba(0, 0, 0, 0.459);
        margin-bottom: 24px;
    }

    span {
        text-align: center;
        color: black;
        font-weight: 800;
    }

    p {
        text-align: center;

        margin-bottom: 32px;
    }
}

.input-content {

    form {
        @include Flex(column);

        input {
            border: 1px solid hsl(223, 100%, 88%);
            border-radius: 24px;
            margin-bottom: 10px;
            padding: 16px;
            width: 100%;
        }

        //Dynamic HTML text with JavaScript
        .errormsg {
            color: red;
            font-size: 0.75rem;
            padding-bottom: 10px;
        }

        .validmsg{
            color: green;
            font-size: 0.75rem;
            padding-bottom: 10px;
        }
        //================================

        button {
            background-color: hsl(223, 87%, 63%);
            color: white;
            font-size: 1rem;
            border: none;
            border-radius: 24px;
            width: 100%;
            margin-bottom: 32px;
            padding: 16px;
            box-shadow: 2px 2px 4px hsla(210, 52%, 59%, 0.8)
        }

        //Active states
        button:hover {
            cursor: pointer;
            background-color: hsl(223, 100%, 75%);

        }

    }

}

footer {
    text-align: center;

    .social-logos {
        @include Flex(row);
        justify-content: space-evenly;
    }

    .Copyright {
        margin: 24px;
        opacity: 0.4;
    }

    .attribution {
        font-size: 0.875rem;

    }

    .attribution a {
        color: hsl(228, 31%, 50%);
    }
}

//media query for Desktop view
@media (min-width: 37.5rem) {
    .wrapper {
        max-width: 42rem;
    }

    .input-content {
        margin-bottom: 64px;

        form {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 2rem;

            input {
                grid-area: 1/1/1/3;
                margin-bottom: -5px;
            }

            button {
                grid-area: 1/3/1/3;
                margin-left: 10px;
                margin-bottom: 0;
            }

            .errormsg {
                grid-area: 2/1/2/1;
                column-gap: 0;
                padding-bottom: 0;
            }

            .validmsg{
                grid-area: 2/1/2/1;
                padding-bottom: 0;
            }


        }
    }

}